.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 15px 0;
}

.form__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.form__input {
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form__label {
    margin-bottom: 5px;
    margin-right: 10px;
}

.form__input:focus {
    outline: none;
}

.form__checkbox {
    margin: 0 5px;
}

.form__button-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form__button {
    border-radius: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 18px;
    line-height: 22px;
    width: 20%;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    margin-top: 15px;
}

.form__button:hover {
    opacity: 0.85;
}