.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
  flex-wrap: wrap;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px 10px;
}

.header__image {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.header__navigation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.header__navigation-link {
  text-decoration: none;
  cursor: pointer;
}

.header__buttons {
  margin-right: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.header__button {
  background-color: rgb(225, 220, 220);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.header__button:hover {
  background-color: rgb(191, 191, 191);
}


@media (max-width: 700px) {
  .header__image { 
    max-width: 120px; 
  }
}

@media (max-width: 560px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }

  .header__navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__buttons {
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0;
  }
}