@import url('./styles/header.css');
@import url('./styles/auth-form.css');
@import url('./styles/form.css');
@import url('./styles/popup.css');
@import url('./styles/validator.css');
@import url('./styles/task-table.css');
@import url('./styles/manifest.css');
@import url('./styles/main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.page {
    position: relative;
}